<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class='row'>
  <div class='col-md-4'>
    <h3>Change email or password</h3>
    <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control',
                    placeholder: "Enter email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          <p>Waiting confirmation for: <%= resource.unconfirmed_email %></p>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control',
                    placeholder: "Enter password to confirm your changes" %>
      </div>

      <div class="form-group">
        <%= f.label "New password" %>
        <%= f.password_field :password, class: 'form-control',
                    placeholder: "Leave blank to keep your current password" %>
      </div>

      <div class="form-group">
        <%= f.label "New password confirmation" %><br />
        <%= f.password_field :password_confirmation, class: 'form-control',
                    placeholder: "Leave blank to keep your current password" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save my changes", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div class='col-md-2'>
  </div>
  <div class='col-md-4'>
    <h3>Change your information</h3>

    <%= form_for current_user, html: { multipart: true } do |f| %>
      <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter name",
          autofocus: true %>
      </div>

      <% if current_user.avatar? %>
        <div class="form-group">
          <p>Current Avatar</p>
          <%= image_tag current_user.avatar.profile.url %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="form-group">
        <%= f.check_box :email_favorites %>
        <%= f.label :email_favorites,
            "I want to receive updates on favorited posts" %>
      </div>

      <div class='form-group'>
        <%= f.submit "Update my information", class:'btn btn-success' %>
      </div>
    <% end %>

    <br/>
    <br/>
    <h3>Lost your love for us?</h3>

    <div class='form-group'>
      <p>
        <%= button_to "Cancel my account", registration_path(resource_name),
          data: { confirm: "Cancel your account?" }, method: :delete,
          class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
