<div class="row">
  <div class="row">
    <div class="col-md-8">
      <div style="margin-top: 10px">
        <%= render partial: 'votes/voter', locals: { post: @post } %>
      </div>
      <h1>
        <%= image_tag(@post.image.thumb.url) if @post.image? %>
        <%= @post.markdown_title %>
      </h1>
    </div>
    <div class="col-md-4">
      <h3 class="pull-left points"><%= pluralize(@post.points, 'point') %></h3>
      <p class="vote-details">
        <small>
          <%= pluralize(@post.up_votes, 'up vote') %><br/>
          <%= pluralize(@post.down_votes, 'down vote') %>
        </small>
      </p>
    </div>
  </div>
  <div class='col-md-8'>
    <p><%= @post.markdown_body %></p>
    <small>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      <%= @post.user.name %>
    </small>
    <br/>
    <br/>
  </div>

  <div class="col-md-4">
    <p>
      <% if policy(@post).edit? %>
        <%= link_to "Edit Post", edit_topic_post_path(@topic, @post),
          class: 'btn btn-info' %>
      <% end %>
    </p>
    <p>
      <% if policy(@post).destroy? %>
        <%= link_to "Delete Post", [@topic, @post], method: :delete,
          class: "btn btn-danger",
          data: { confirm: "This post will be permanently deleted." } %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <%= render @comments %>
    <br/>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form',
        locals: { topic: @topic, post: @post } %>
    <% end %>
  </div>
</div>
